# Ambiente virtual
venv/
ENV/

# Arquivos de configuração locais
.env

# Cache do Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd

# Arquivos temporários
*.log
*.tmp

# Configurações do VSCode / IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db